# https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Coatjava-CI

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]
  schedule:
    # NOTE: From what I read, the email notification for cron can only go
    #       to the last committer of this file!!!!!
    - cron: '0 22 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: zulu
    - name: build
      run: ./build-coatjava.sh --spotbugs --unittests --quiet
    - name: tar # tarball to preserve permissions
      run: tar czvf coatjava.tar.gz coatjava
    - uses: actions/upload-artifact@v3
      with:
        name: build
        retention-days: 1
        path: coatjava.tar.gz

  test_coatjava:
    needs: [ build ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        id:
          - kpp
          - eb-ep
          - eb-eg
          - eb-epc
          - eb-enc
          - eb-eftpi
        include:
          - { id: kpp,      cmd: ./run-advanced-tests.sh }
          - { id: eb-ep,    cmd: ./run-eb-tests.sh -100 electronproton   }
          - { id: eb-eg,    cmd: ./run-eb-tests.sh -100 electrongamma    }
          - { id: eb-epc,   cmd: ./run-eb-tests.sh -100 electronprotonC  }
          - { id: eb-enc,   cmd: ./run-eb-tests.sh -100 electronneutronC }
          - { id: eb-eftpi, cmd: ./run-eb-tests.sh -100 electronFTpion   }
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: zulu
    - uses: actions/download-artifact@v3
      with:
        name: build
    - name: untar build
      run: tar xzvf coatjava.tar.gz
    - name: run test
      run: |
        cd validation/advanced-tests
        ${{matrix.cmd}}

  test_run-groovy:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: zulu
    - name: setup groovy
      uses: wtfjoke/setup-groovy@v1
      with:
        groovy-version: 4.x
    - uses: actions/download-artifact@v3
      with:
        name: build
    - name: untar build
      run: tar xzvf coatjava.tar.gz
    - name: test run-groovy
      run: coatjava/bin/run-groovy validation/advanced-tests/test-run-groovy.groovy
